<!DOCTYPE html>

<html>
    <head>
        <title>Refa | Welcome</title>
        <link rel="stylesheet" type="text/css" href="static/main.css">
    </head>
    <body>
        <h1>Refa</h1>
        <h2>Find the best contractors for your job!</h2>
        <hr>
        <p>Welcome to Refa. Refa is a platform for people to refa contractors. It is also the place to find a contractor in your area. You can get the most reliable contractors for less. No more lucky guesses as to whether not the job will get done.</p>
        <h4>To Do List: </h4>
        <ul>
            <li>Make website responsive</li>
            <li>Build up templating system</li>
            <li>Prevent multiple account being created for each e-mail address</li>
            <li>Use cookies so that users can see when they are loggedin</li>
            <li>Start uploading content to platform</li>
            <!-- <li>Split platform into News and Opinion</li> -->
            <!-- <li>Integrate Coursebuilder</li> -->
            <!-- <li>Integrate video search</li> -->
        </ul>
        <a href="/blog">Blog</a>
        <a href="/blog/signup">Signup</a>
    </body>
</html>