{% extends "base.html" %}
{% block title %} | News and Opinions {% endblock %}
{% block content %}

  {% for item in articles %}
    <p>{{ item.key().id()|string }} | {{ item.created }}</p>
    <div class="article">
    <div class="article-title"> {{ item.title }}</div>
        <pre class="article-body"> {{ item.content }}</pre>
        {{ item.id }}
        <pre><small> <a href="/blog/{{ item.key().id() }}">Permalink</a> </small></pre>
    </div>
    <hr />
  {% endfor %}
  <button><a href="/blog/newpost">Submit</a></button>
  <p> Queried {{ qt }} seconds ago </p>
  <br><br>


{% endblock %}

<!--
<!DOCTYPE html>

<html>
    <head>
        <title>Abacus Finch | Articles</title>
    </head>
    <body>
        <h1>/articles/</h1>
        {% for item in articles %}
        <p>{{ item.id|string }}</p>
            <div class="article">
                <div class="article-title"> {{ item.title }}</div>
                <pre class="article-body"> {{ item.content }}</pre>
                {{ item.id }}
                <pre><small> <a href="/blog/{{ item.id }}">Permalink</a> </small></pre>
            </div>
        {% endfor %}
        <button><a href="/blog/newpost">Submit</a></button>
        <p> Queried {{ qt }} seconds ago </p>
    </body>
</html>
-->